p{
font-size: 20px;
color: black;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header{
    background-color: blue;
    color: white;
    height: 100px;
    line-height: 100px;
}

.mainbody{
    background-color: lightgray;

}

.footer{
    background-color: red;
    color: white;
    height: 25px;
    bottom: 0px;
    position: fixed;
    font-size: 15px;
}

img,iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.common{
    text-align: center;
}

h1{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol, ul{
    text-align:left;
    list-style-position:inside;
    color: black;
    font-size: 15px;
    margin-left: 22%;
}

nav{
    background-color: red;
    overflow: hidden;
}

nav a{
    float:left;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

nav a:hover{
    background-color: lightgray;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h3{
    color: red;
}